altgraph==0.17.3
auto-py-to-exe==2.34.0
beautifulsoup4==4.12.2
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2022.12.7
charset-normalizer==3.1.0
Eel==0.16.0
fake-useragent==1.1.3
future==0.18.3
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.2
idna==3.4
importlib-resources==5.12.0
macholib==1.16.2
prompt-toolkit==3.0.38
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
pyparsing==3.0.9
PyQt3D==5.15.5
PyQt3D-Qt5==5.15.2
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQtChart==5.15.6
PyQtChart-Qt5==5.15.2
PyQtDataVisualization==5.15.5
PyQtDataVisualization-Qt5==5.15.2
PyQtNetworkAuth==5.15.5
PyQtNetworkAuth-Qt5==5.15.2
PyQtPurchasing==5.15.5
PyQtPurchasing-Qt5==5.15.2
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
questionary==1.10.0
requests==2.29.0
soupsieve==2.4.1
urllib3==1.26.15
wcwidth==0.2.6
whichcraft==0.6.1
zipp==3.15.0
zope.event==4.6
zope.interface==6.0
